
# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.csproj.user
bin/
obj/
.vs/

# Ignore projects for packaging
CLI.Package.MSI/
CLI.Package.ZIP/

# Ignore solution files
/Natural Docs 2.sln
/.editorconfig
