
# Ignore thumbnails created by Windows
Thumbs.db

# Ignore files built by Visual Studio
*.csproj.user
*.pubxml.user
launchSettings.json
bin/
obj/
.vs/

# Ignore projects for packaging
CLI.Package.MSI/
CLI.Package.ZIP/
Packager/

# Ignore solution files
/Natural Docs 2.sln
/Natural Docs 2.slnx
/.editorconfig
