# Build Results
.vs/
x64/
x686/
[Bb]in/
[Dd]ebug/
[Ll]og
[Oo]bj/
[Rr]elease/


# MSTest Test Results
[Tt]est[Rr]esults*/
[Bb]uild[Ll]og.*/


# Various File Suffixes
*.exe
*.meta
*.obj
*.pdb
*.pgc
*.pgd
*.svclog
*.temp*
*.tmp*
