<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<dllmap os="osx" wordsize="32" dll="NaturalDocs.Engine.SQLite.dll" target="libNaturalDocs.Engine.SQLite.Mac32.so" />
	<dllmap os="osx" wordsize="64" dll="NaturalDocs.Engine.SQLite.dll" target="libNaturalDocs.Engine.SQLite.Mac64.so" />
	<dllmap os="!windows,osx" wordsize="32" dll="NaturalDocs.Engine.SQLite.dll" target="libNaturalDocs.Engine.SQLite.Linux32.so" />
	<dllmap os="!windows,osx" wordsize="64" dll="NaturalDocs.Engine.SQLite.dll" target="libNaturalDocs.Engine.SQLite.Linux64.so" />

</configuration>