<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<startup>
		<supportedRuntime version="v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>

	<dllmap os="osx" dll="SQLite.Win.x86.dll" target="libSQLite.Mac.x86.so" />
	<dllmap os="osx" dll="SQLite.Win.x64.dll" target="libSQLite.Mac.x64.so" />
	<dllmap os="!windows,osx" dll="SQLite.Win.x86.dll" target="libSQLite.Linux.x86.so" />
	<dllmap os="!windows,osx" dll="SQLite.Win.x64.dll" target="libSQLite.Linux.x64.so" />

</configuration>