
/* All highlighting appears on hover for light and dark themes, stays visible for black theme */


/* Highlight wide vs. narrow form */

.NDPrototype.WideForm:hover,
.BlackTheme .NDPrototype.WideForm {
	border: 1px solid green !important;
	}
.NDPrototype.NarrowForm:hover,
.BlackTheme .NDPrototype.NarrowForm {
	border: 1px solid red !important;
	}


/* Outline prototype block structure */

.NDPrototype:hover .PPlainSection,
.NDPrototype:hover .PParameterCells > div {
	outline: 1px solid rgb(0 0 0 / 25%);
	}
	.DarkTheme .NDPrototype:hover .PPlainSection,
	.DarkTheme .NDPrototype:hover .PParameterCells > div,
	.BlackTheme .NDPrototype .PPlainSection,
	.BlackTheme .NDPrototype .PParameterCells > div {
		outline: 1px solid rgb(255 255 255 / 33%);
		}


/* Highlight nested parameter sections */

.NDPrototype:hover .PParameterSection:has(.Nested),
.BlackTheme .NDPrototype .PParameterCells:has(.Nested) {
	border-color: green;
	border-style: dashed;
	border-width: 0 2px;

	padding: 0 5px;
	margin: 0 -7px;
	}


/* Highlight sequential parameter sections */

.NDPrototype:hover .PParameterSection + .PParameterSection,
.BlackTheme .NDPrototype .PParameterSection + .PParameterSection {
	margin-top: 5px;
	border-top: 1px dashed rgb(0 0 0 / 25%);
	padding-top: 5px;
	}
	.DarkTheme .NDPrototype:hover .PParameterSection + .PParameterSection,
	.BlackTheme .NDPrototype .PParameterSection + .PParameterSection {
		border-color: rgb(255 255 255 / 33%);
		}


/* Highlight block contents on hover */

.PPlainSection:hover,
.PParameterCells > div:hover {
	background-color: #FFFFD0;
	opacity: 1;
	}
	.DarkTheme .PPlainSection:hover,
	.BlackTheme .PPlainSection:hover,
	.DarkTheme .PParameterCells > div:hover,
	.BlackTheme .PParameterCells > div:hover {
		background-color: #606000;
		}
	.PParameterCells.Nested:hover {
		background-color: rgb(128 128 128 / 25%) !important;
		}


/* Label blocks on hover */

.PBlockLabel {
	display: none;
	position: absolute;

	font: 9pt "-apple-system", BlinkMacSystemFont, "Segoe UI", Tahoma, sans-serif;
	padding: .1em .5em;
	margin: -3.25em 0 0 0;
	text-indent: 0;

	color: #686800;
	background-color: #FFFFD0;
	border: 1px solid #808000;
	}
	.DarkTheme .PBlockLabel,
	.BlackTheme .PBlockLabel {
		color: #E0E000;
		background-color: #202020;
		border: 1px solid #C0C000;
		}

.PPlainSection:hover .PBlockLabel,
.PParameterCells:not(:has(.Nested)) > div:hover .PBlockLabel,
.PParameterCells:has(.Nested) > .PBeforeParameters:hover .PBlockLabel,
.PParameterCells.Nested > div:hover .PBlockLabel {
	display: block;
	}

.PPlainSection .PBlockLabel {
	margin-left: -3ch;
	}

